@use '../../utility/sizeValue.scss' as *;
@use '../../utility/buttonStyle.scss' as *;
$font-size-header: 48px;
$font-size-button: 16px;
.credit-card {
  width: 1300px;
  margin: 0 auto 112px auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  &__section {
    height: 226px;
    width: 622px;
  }
  &__header {
    font-size: $font-size-header;
    color: #1c1c1e;
    margin-bottom: 36px;
    margin-top: 0px;
  }
  &__button {
    @include button-styles(16px);
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    width: 520px;
    height: 315px;
  }
  &__item {
    margin: 0px;
    flex: 1 1 250px;
  }
  @media (max-width: $breakpoint-large-desktop) {
    width: 97.45%;
  }
  @media (max-width: $breakpoint-desktop) {
    margin-bottom: 198px;
    flex-direction: column;
    align-items: center;
    &__section {
      height: 146px;
      width: 622px;
    }
    &__header {
      text-align: center;
      font-size: $font-size-header - 2;
      color: #1c1c1e;
      margin-bottom: 36px;
      margin-top: 0px;
    }
    &__list {
      width: 1050px;
      height: 150px;
    }
    &__button {
      @include button-styles(16px);
      margin-left: 37%;
      margin-top: 188px;
    }
  }

  @media (max-width: $breakpoint-small-desktop) {
    flex-direction: column;
    align-items: center;
    &__section {
      height: 146px;
      width: 612px;
    }
    &__header {
      font-size: $font-size-header - 3;
      color: #1c1c1e;
      margin-bottom: 36px;
      margin-top: 0px;
    }
    &__button {
      @include button-styles(16px);
      margin-left: 229px;
      margin-top: 354px;
    }
    &__list {
      width: 518px;
      height: 315px;
    }
  }
  @media (max-width: $breakpoint-large-mobile) {
    flex-direction: column;
    margin: 0 auto 112px auto;
    width: 500px;
    align-items: center;
    &__section {
      height: 126px;
      width: 500px;
    }
    &__list {
      width: 253px;
      height: 652px;
    }
    &__button {
      @include button-styles(16px);
      margin-left: 169px;
      margin-top: 691px;
    }
    &__header {
      font-size: $font-size-header - 12;
      color: #1c1c1e;
      margin-bottom: 36px;
      margin-top: 0px;
    }
  }
}
