.credit-card {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 112px;
}
.credit-card__section {
  height: 226px;
  width: 622px;
}
.credit-card__header {
  font-size: 48px;
  color: #1c1c1e;
  margin-bottom: 36px;
  margin-top: 0px;
}
.credit-card__button {
  color: #ffffff;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-size: 16px;
  background: #003cff;
  border-radius: 16px;
  border: 0px;
  font-style: normal;
  padding: 16px;
  transition: background 0.3s;
}
.credit-card__button:hover {
  background: #0131ce;
}
.credit-card__button:active {
  background: #022bb1;
}
.credit-card__button:focus {
  outline: none;
}
.credit-card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  width: 520px;
  height: 315px;
}
.credit-card__item {
  margin: 0px;
  flex: 1 1 250px;
}
@media (max-width: 1350px) {
  .credit-card {
    width: 96%;
  }
}
@media (max-width: 1220px) {
  .credit-card {
    margin-bottom: 198px;
    flex-direction: column;
    align-items: center;
  }
  .credit-card__section {
    height: 146px;
    width: 622px;
  }
  .credit-card__header {
    text-align: center;
    font-size: 46px;
    color: #1c1c1e;
    margin-bottom: 36px;
    margin-top: 0px;
  }
  .credit-card__list {
    width: 1050px;
    height: 150px;
  }
  .credit-card__button {
    color: #ffffff;
    letter-spacing: 0.02em;
    font-weight: 700;
    font-size: 16px;
    background: #003cff;
    border-radius: 16px;
    border: 0px;
    font-style: normal;
    padding: 16px;
    transition: background 0.3s;
    margin-left: 37%;
    margin-top: 188px;
  }
  .credit-card__button:hover {
    background: #0131ce;
  }
  .credit-card__button:active {
    background: #022bb1;
  }
  .credit-card__button:focus {
    outline: none;
  }
}
@media (max-width: 1110px) {
  .credit-card {
    flex-direction: column;
    align-items: center;
  }
  .credit-card__header {
    font-size: 46px;
    color: #1c1c1e;
    margin-bottom: 36px;
    margin-top: 0px;
  }
  .credit-card__button {
    color: #ffffff;
    letter-spacing: 0.02em;
    font-weight: 700;
    font-size: 16px;
    background: #003cff;
    border-radius: 16px;
    border: 0px;
    font-style: normal;
    padding: 16px;
    transition: background 0.3s;
    margin-left: 229px;
    margin-top: 354px;
  }
  .credit-card__button:hover {
    background: #0131ce;
  }
  .credit-card__button:active {
    background: #022bb1;
  }
  .credit-card__button:focus {
    outline: none;
  }
  .credit-card__list {
    width: 518px;
    height: 315px;
  }
}
@media (max-width: 650px) {
  .credit-card {
    flex-direction: column;
    margin: 0 auto;
    width: 500px;
    margin-bottom: 112px;
    align-items: center;
  }
  .credit-card__section {
    height: 126px;
    width: 500px;
  }
  .credit-card__list {
    width: 253px;
    height: 652px;
  }
  .credit-card__button {
    color: #ffffff;
    letter-spacing: 0.02em;
    font-weight: 700;
    font-size: 16px;
    background: #003cff;
    border-radius: 16px;
    border: 0px;
    font-style: normal;
    padding: 16px;
    transition: background 0.3s;
    margin-left: 169px;
    margin-top: 691px;
  }
  .credit-card__button:hover {
    background: #0131ce;
  }
  .credit-card__button:active {
    background: #022bb1;
  }
  .credit-card__button:focus {
    outline: none;
  }
  .credit-card__header {
    font-size: 36px;
    color: #1c1c1e;
    margin-bottom: 36px;
    margin-top: 0px;
  }
}/*# sourceMappingURL=credit-card.css.map */