@import '../../utility/button-style.scss';
$breakpoint-large-desktop: 1350px;
$breakpoint-desktop: 1220px;
$breakpoint-small-desktop: 1110px;
$breakpoint-small-tablet: 768px;
$breakpoint-large-mobile: 630px;

$font-size-header: 48px;
$font-size-button: 16px;
.credit-card {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 112px;
  
  &__section {
    height: 226px;
    width: 622px;
  }
  &__header {
    font-size: $font-size-header;
    color: #1c1c1e;
    margin-bottom: 36px;
    margin-top: 0px;
  }
  &__button {
    @include button-styles(16px);
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    width: 520px;
    height: 315px;
  }
  &__item {
    margin: 0px;
    flex: 1 1 250px;
  }
  @media (max-width: $breakpoint-large-desktop) {
    width: 96%;
  }
  @media (max-width: $breakpoint-desktop) {
    flex-direction: column;
    &__section {
      height: 146px;
      width: 622px;
    }
    &__header {
      font-size: $font-size-header - 2;
      color: #1c1c1e;
      margin-bottom: 36px;
      margin-top: 0px;
    }
    &__list {
      width: 1050px;
      height: 150px;
    }
    align-items: center;
    &__button {
      @include button-styles(16px);
      // margin-left: 229px;
      margin-left: 37%;
      margin-top: 188px;
    }
  }

  @media (max-width: $breakpoint-small-desktop) {
    flex-direction: column;
    align-items: center;
    &__button {
      @include button-styles(16px);
      margin-left: 229px;
      margin-top: 354px;
    }
    &__list {
      width: 518px;
      height: 315px;
    }
  }
  @media (max-width: $breakpoint-large-mobile) {
    flex-direction: column;
    margin: 0 auto;
    width: 500px;
    &__section {
      height: 126px;
      width: 500px;
    }
    &__list {
      width: 253px;
    }
    align-items: center;
    &__button {
      @include button-styles(16px);
      margin-left: 170px;
      margin-top: 691px;
    }
    &__header {
      font-size: $font-size-header - 12;
      color: #1c1c1e;
      margin-bottom: 36px;
      margin-top: 0px;
    }
  }
}

// @media (max-width: $media-size-value) {
//     width: 100%;
//   }
//   @media (max-width: ($media-size-value - 70px)) {
//     flex-wrap: wrap;
//     flex-direction: column;
//     &__section {
//       display: flex;
//       flex-direction: column;
//       gap: 160px;
//     }
//     &__button {
//       @include button-styles(16px);
//       margin: 0 215px;
//     }
//     &__header {
//       font-size: $font-size-header;
//       text-align: center;
//       color: #1c1c1e;
//     }
//     &__list {
//       flex-direction: column;
//       justify-content: start;
//       height: 150px;
//       width: 1045px;
//     }
//   }
//   @media (max-width:  ($media-size-value - 220px) ) {
//     width: 100%;
//     &__header {
//       font-size: $font-size-header - 12;
//       text-align: center;
//     }
//     &__list {
//       flex-direction: row;
//       display: flex;
//       position: relative;
//       bottom: 80px;
//       flex-wrap: wrap;
//       gap: 14px;
//       width: 518px;
//       height: 315px;
//     }
//     &__section {
//       display: flex;
//       flex-direction: column;
//       gap: 340px;
//     }
//   }
//   @media (max-width: ($media-size-value - 670)) {
//     width: 630px;

//     &__header {
//       font-size: $font-size-header - 18;
//       text-align: center;
//     }
//     &__list {
//       flex-direction: row;
//       display: flex;
//       gap: 14px;
//       width: 252px;
//       height: 315px;
//       position: relative;
//       bottom: 105px;
//     }
//     &__section {
//       display: flex;
//       flex-direction: column;
//       gap: 670px;
//     }
//     margin-bottom: 312px;
//   }
// }
