$breakpoint-large-desktop: 1350px;
$breakpoint-desktop: 1220px;
$breakpoint-small-desktop: 1110px;
$breakpoint-small-tablet: 768px;
$breakpoint-large-mobile: 650px;

$font-size-header: 35px;
$font-size-title: 16px;
$font-size-text-item: 14px;
.currency-card {
  background:
    linear-gradient(
      358.2deg,
      rgba(178, 178, 178, 0.8) 8.06%,
      rgba(178, 178, 178, 0) 67.93%
    ),
    rgba(244, 244, 244, 0.9);
  mix-blend-mode: normal;
  box-shadow:
    0px 0px 4px rgba(0, 0, 0, 0.08),
    0px 2px 4px rgba(187, 187, 187, 0.2);
  width: 1236px;
  margin: 0 auto;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  border-radius: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px;
  margin-bottom: 48px;
  &__section {
    display: flex;
    flex-direction: column;
  }
  &__header {
    font-size: 30px;
    margin: 0px;
    margin-bottom: 21px;
    line-height: 50px;
    color: #1c1c1e;
  }
  &__title {
    font-size: 20px;
    line-height: 50px;
    margin: 0px;
    margin-bottom: 32px;
    color: #000000;
  }
  &__subtext {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #ffffff;
    margin: 0px;
  }
  &__aside {
    display: flex;
    flex-direction: column;
    gap: 79px;
    p {
      font-size: 16px;
      line-height: 50px;
      color: #000000;
      margin: 0px;
    }
  }
  &__figure {
    margin: 0px;
    img {
      display: block;
      margin-left: auto;
    }
  }
  &__list {
    padding: 0px;
    margin: 0px;
    display: flex;
    width: 410px;
    height: 76px;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 32px;
    margin-bottom: 51px;
  }
  &__item {
    display: flex;
    height: 22px;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
    h3 {
      margin: 0px;
      font-weight: 700;
      font-size: 20px;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: #808080;
      mix-blend-mode: normal;
    }
    p {
      margin: 0px;
      font-weight: 700;
      font-size: 20px;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: #000000;
    }
  }
  @media (max-width: $breakpoint-large-desktop) {
    width: 92.45%;
  }

}
