@import '../../utility/size-value.scss';
.footer {
  font-family: 'Ubuntu';
  font-style: normal;

  background:
    linear-gradient(0deg, rgba(178, 178, 178, 0.2), rgba(178, 178, 178, 0.2)),
    #f4f4f4;
  height: 462px;
  //   padding: 96px 0 92px 0;
  //   width: 1728px;
  //   margin: 0 auto;

  &__section {
    width: $width-page;
    padding: 96px 0 92px 0;
    // height: 100%;
    margin: 0 auto;
  }
  &__section-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
  }
  &__logo {
    margin: 0;
    vertical-align: top;
    margin-right: 884px;
  }
  &__aside {
    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 44px;
      color: #000000;
      margin: 0 0 6px 0;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: #2d3748;
      margin: 0;
    }
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // gap: 32px;
    column-gap: 32px;
    row-gap: 8px;
    margin-bottom: 28px;
  }
  &__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #000000;
  }
  &__line {
    width: $width-page;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.81);
    transform: rotate(179.82deg);
  }
  &__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2d3748;
  }
}
