@import '../../utility/size-value.scss';
@import '../../utility/button-style.scss';
$breakpoint-large-desktop: 1350px;
$breakpoint-small-tablet: 768px;
$breakpoint-large-mobile: 650px;

$font-size-logo: 24px;
$font-size-nav: 16px;
$font-size-button: 16px;
.header {
  width: $width-page;
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: $font-size-nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 132px;
  &__text {
    color: #b4387a;
    letter-spacing: 0.02em;
    font-size: $font-size-logo;
  }
  .nav {
    &__list {
      padding: 0px;
      display: flex;
      flex-direction: row;
      gap: 40px;
      list-style-type: none;
    }
    &__text {
      color: #1d1929;
    }
  }
  &__button {
    @include button-styles(16px);
  }

  @media (max-width: $breakpoint-large-desktop) {
    width: 97.45%;
  }
  @media (max-width: $breakpoint-small-tablet) {
    flex-direction: column;
    &__nav {
      margin-bottom: 12px;
    }
    .nav {
      &__list {
        padding: 0px;
        flex-direction: row;
        justify-content: center;
      }
      &__text {
        color: #1d1929;
        font-size: $font-size-nav + 10px;
      }
    }
    &__text {
      color: #b4387a;
      letter-spacing: 0.02em;
      margin-top: 24px;
      margin-bottom: 12px;
      font-size: $font-size-nav + 40px;
    }
    &__button {
      @include button-styles(16px, $font-size-button + 5px);
    }
  }
  
  @media (max-width: $breakpoint-large-mobile) {
    width: 500px;
    flex-direction: column;
    &__nav {
      margin-bottom: 12px;
    }
    .nav {
      &__list {
        padding: 0px;
        flex-direction: row;
        justify-content: center;
      }
      &__text {
        color: #1d1929;
        font-size: $font-size-nav + 3px;
      }
    }
    &__text {
      color: #b4387a;
      letter-spacing: 0.02em;
      margin-top: 24px;
      margin-bottom: 12px;
      font-size: $font-size-nav + 25px;
    }
    &__button {
      @include button-styles(16px, $font-size-button + 1px);
    }
  }
}
