@use '../../index.scss' as *;
@use '../../utility/sizeValue.scss' as *;
@use '../../utility/buttonStyle.scss' as *;

.filling-field {
  &__header {
    display: flex;
    flex-direction: row;
    line-height: 16px;
    margin-bottom: 8px;
    gap: 5px;
    @include font-style-text(16px, 500, #1a202c);
  }
  &__star {
    line-height: 16px;
    color: #ff0000;
    @include font-style-text(16px, 500, #ff0000);
  }
  &__input {
    box-sizing: border-box;
    padding: 13px 13px 13px 16px;
    width: 297px;
    height: 40px;
    background: #f9f5e3;
    border: 3px solid rgba(128, 128, 128, 0.2);
    border-radius: 6px;
    line-height: 14px;
    @include font-style-text(14px, 400, #000000);
    &::placeholder {
      line-height: 14px;
      @include font-style-text(14px, 400, #808080);
    }
    &:focus {
      outline: #5B35D5;
      border-color: #5B35D5;
      border: 3px solid #5B35D5;
    }
  }
  &__select {
    box-sizing: border-box;
    padding: 0 13px 0 16px;
    width: 297px;
    height: 40px;
    background: #f9f5e3;
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 6px;
    line-height: 14px;
    @include font-style-text(14px, 400, #000000);
    option {
      @include font-style-text(14px, 400, #000000);
    }
  }
  &--error {
    border: 3px solid #ff5631;
  }
  &__text-error {
    /* Incorrect email address */
    margin: 2px 0 0 0;
    color: #ff5631;
    @include font-style-text(16px, 500, #ff5631);
  }
}
