@use '../../utility/sizeValue.scss' as *;
$font-size-header: 30px;
$font-size-title: 20px;
$font-size-text-aside: 16px;
.currency-card {
  background:
    linear-gradient(
      358.2deg,
      rgba(178, 178, 178, 0.8) 8.06%,
      rgba(178, 178, 178, 0) 67.93%
    ),
    rgba(244, 244, 244, 0.9);
  mix-blend-mode: normal;
  box-shadow:
    0px 0px 4px rgba(0, 0, 0, 0.08),
    0px 2px 4px rgba(187, 187, 187, 0.2);
  width: 1236px;
  margin: 0 auto 48px auto;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  border-radius: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px;
  &__header {
    font-size: $font-size-header;
    margin: 0 0 21px 0;
    line-height: 50px;
    color: #1c1c1e;
  }
  &__title {
    font-size: $font-size-title;
    line-height: 50px;
    margin: 0 0 32px 0;
    color: #000000;
  }
  &__subtext {
    font-weight: 700;
    font-size: $font-size-title;
    line-height: 22px;
    color: #ffffff;
    margin: 0px;
  }
  &__aside {
    display: flex;
    flex-direction: column;
    gap: 79px;
    p {
      font-size: $font-size-text-aside;
      line-height: 50px;
      color: #000000;
      margin: 0px;
    }
  }
  &__figure {
    margin: 0px;
    img {
      display: block;
      margin-left: auto;
    }
  }
  &__list {
    padding: 0;
    margin: 0 0 51px 0;
    display: flex;
    width: 410px;
    height: 76px;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 32px;
  }
  &__item {
    display: flex;
    height: 22px;
    width: 110px;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
    h3 {
      margin: 0px;
      font-weight: 700;
      font-size: $font-size-title;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: #808080;
      mix-blend-mode: normal;
    }
    p {
      margin: 0px;
      font-weight: 700;
      font-size: $font-size-title;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: #000000;
    }
  }
  @media (max-width: $breakpoint-large-desktop) {
    width: 92.45%;
  }
  @media (max-width: $breakpoint-small-desktop) {
    width: 91%;

    &__header {
      font-size: $font-size-header - 3;
    }
    &__aside {
      p {
        font-size: $font-size-text-aside - 3;
      }
    }
    &__item {
      h3 {
        font-size: $font-size-title;
      }
      p {
        font-size: $font-size-title;
      }
    }
  }
  @media (max-width: $breakpoint-small-tablet) {
    width: 82%;
    &__header {
      font-size: $font-size-header - 12;
    }
    &__aside {
      p {
        font-size: $font-size-text-aside - 7;
      }
    }
    &__item {
      width: auto;
      h3 {
        font-size: $font-size-title - 6;
      }
      p {
        font-size: $font-size-title - 6;
      }
    }
    &__list {
      width: 288px;
      padding: 0px;
      margin: 0 0 51px 0;
      display: flex;
      height: 76px;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;
      gap: 9px;
    }
  }
  @media (max-width: $breakpoint-large-mobile) {
    width: 426px;
    justify-content: space-between;

    &__header {
      font-size: $font-size-header - 14;
    }
    &__aside {
      p {
        font-size: $font-size-text-aside - 8;
      }
    }
    &__item {
      h3 {
        font-size: $font-size-title - 9;
      }
      p {
        font-size: $font-size-title - 9;
      }
    }
    &__title {
      font-size: $font-size-title - 4;
    }
    &__subtext {
      font-size: $font-size-title - 5;
    }
    &__list {
      width: 248px;
      padding: 0px;
      margin: 0 0 51px 0;
      display: flex;
      height: 76px;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;
      gap: 12px;
    }
  }
}
