@import '../utility/font-family.scss';
@import '../utility/size-value.scss';
@import '../utility/button-style.scss';
.header {
  width: $width-page;
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 132px;
  &__text {
    color: #b4387a;
    letter-spacing: 0.02em;
    font-size: 24px;
  }
  .nav {
    &__list {
      padding: 0px;
      display: flex;
      flex-direction: row;
      gap: 40px;
      list-style-type: none;
    }
    &__text {
      color: #1d1929;
    }
  }
  &__button {
    @include button-styles(16px)
  }
}
