@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
#card {
  &__img {
    margin: 0px;
    img {
      width: 256px;
      height: 120px;
    }
  }
}
/* Rectangle 321 */
.card {
  width: 320px;
  height: 598px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  text-align: center;
  &__content {
    gap: 32px;
    width: 256px;
    height: 384px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    margin: 0;
    width: 256px;
    height: 104px;
    font-size: 20px;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    color: #000000;
  }
  &__subtitle {
    margin: 0;
    font-size: 16px;
    width: 256px;
    height: 96px;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    color: #000000;
  }
}
