// @use '../../utility/size-value.scss' as *;
$breakpoint-large-desktop: 1350px;
$breakpoint-desktop: 1220px;
$breakpoint-small-desktop: 1110px;
$breakpoint-small-tablet: 768px;
$breakpoint-large-mobile: 650px;
.slider {
  display: flex;
  flex-direction: row;
  width: 1300px;
  gap: 20px;
  justify-content: end;
  &__button {
    padding: 0;
    width: 64px;
    height: 64px;
    background: #003cff;
    border-radius: 50px;
    color: #fff;
    border: none;
    font-size: 10px;
    cursor: pointer;
    align-items: center;
    transition: background 0.3s;
    border: 1px solid #003cff;
    &:hover:not(:disabled) {
      background: #0131ce;
    }
    &:active:not(:disabled) {
      background: #022bb1;
    }
    &:focus:not(:disabled) {
      outline: none;
    }
    &:disabled {
      cursor: not-allowed;
      background: #ffffff;
      border: 1px solid #003cff;
      svg {
        stroke: #222222;
      }
    }
  }
  &__figure {
    display: flex;
    justify-self: center;
    align-items: center;
    margin: 0;
    svg {
      width: 28px;
      height: 28px;
      stroke: #ffffff;
      transition: stroke 0.3s ease;
    }
  }
  @media (max-width: $breakpoint-large-desktop) {
    width: 92.45%;
  }
}
