@mixin button-styles($border-radius,$font-size-button:16px) {
  color: #ffffff;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-size: $font-size-button;
  background: #003cff;
  border-radius: $border-radius;
  border: 0px;
  font-style: normal;
  padding: 16px;
  transition: background 0.3s;
  cursor: pointer;
  &:hover {
    background: #0131ce;
  }
  &:active {
    background: #022bb1;
  }
  &:focus {
    outline: none;
  }
}
